@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 19% 16%;
      --card: 0 0% 100%;
      --card-foreground: 240 19% 16%;
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;
      --primary: 204 99% 67%;
      --primary-foreground: 300 8% 100%;
      --secondary: 240 19% 16%;
      --secondary-foreground: 300 8% 100%;
      --tertiary: 225 82% 98%;
      --muted: 210 40% 96.1%;
      --muted-foreground: 237 13% 48%;
      --accent: 237 9% 96%;
      --accent-foreground: 222.2 47.4% 11.2%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
      --border: 204 82% 92%;
      --input: 204 82% 92%;
      --ring: 205 99% 67%;
      --radius: 0.5rem;
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }

    .dark {
      --background: 237 22% 7%;
      --foreground: 210 40% 98%;
      --card: 240 19% 16%;
      --card-foreground: 300 0% 100%;
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
      --primary: 204 99% 67%;
      --primary-foreground: 300 0% 100%;
      --secondary: 240 19% 16%;
      --secondary-foreground: 300 0% 100%;
      --tertiary: 237 22% 7%;
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 237 13% 63%;
      --accent: 222.2 19% 16%;
      --accent-foreground: 300 0% 100%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
      --border: 237 22% 8%;
      --input: 237 22% 8%;
      --ring: 205 99% 67%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.h1 {
  @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[-2px] font-bold;
}

.h2 {
  @apply text-4xl font-bold;
}

.h3 {
  @apply text-3xl font-bold;
}

.h4 {
  @apply text-[22px] font-semibold;
}

.subtitle {
  @apply text-muted-foreground text-lg mb-8 font-light;
}

.section-title {
  @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 before:bg-dots_light before:dark:bg-dots_dark before:bg-no-repeat before:bg-center before:w-[24px] before:h-[24px];
}

.badge {
  @apply z-10 w-[200px] h-[68px] bg-white dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-[10px] flex items-center gap-x-4;
}
